body{
    /* background-color: #AC4425; */
    background-image:url('assets/marjan-blan-5Ft4NWTmeJE-unsplash.jpg');
    font-family: 'Caveat', cursive;   
}

h1{
    text-align: center;
}

.instrucciones{
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
td img{
    width: 30px;
    height: 30px;
   
}
.inactive{
    display: none;
}

.menu-mercado h3{
    text-align: center;
    font-size: 25px;
}
.menu-mercado ul{
    list-style:  none;
    padding: 0 5px;
    margin: 24px 0 0;
    text-align: center;
}

.menu-mercado{
    position: absolute;
    width: 58%;
    background-color: white;
    padding: 35px 20px;
    border: 1px solid;
    border-radius: 68px 0px 70px 0px;
    
}

.menu-mercado li{
    font-size: 20px;
    margin-top: 15px;
    align-self: center;
    font-size: 24px;

}
#btn-menu-mobile{
    width: 30px;
    height: 30px;
}

@media screen and (max-device-width:830px){

        table {
            width:100%;
            font-size: 22px;
        }
        td, th{
            border:none;
            padding: 0px;
        }
         tr{
            display:grid;
            grid-template-columns: 1fr 1fr;        
            /* border:1px solid #507C80; */
            padding:1em;
            margin-bottom: -1em;
            margin-left: 1.01em;                                       
        }
        thead{
                 display:none;
        }
    }