body{
    /* background-color: #AC4425; */
    background-image:url('assets/marjan-blan-5Ft4NWTmeJE-unsplash.jpg');
    font-family: 'Caveat', cursive;   
}

h1{
    text-align: center;
}

.instrucciones{
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
td img{
    width: 30px;
    height: 30px;
   
}
.inactive{
    display: none;
}

.menu-mercado h3{
    text-align: center;
    font-size: 25px;
}
.menu-mercado ul{
    list-style:  none;
    padding: 0 5px;
    margin: 0;
    text-align: center;
}

.menu-mercado{
    position: absolute;
    width: 58%;
    background-color: white;
    padding: 39px 4px;
    border: 1px solid;
    border-radius: 0px 70px 70px 70px;
    
}

.menu-mercado li{
    font-size: 20px;
    margin-top: 15px;
    align-self: center;
    font-size: 24px;

}

.menu-mercado li:hover{
    background-color: lightblue;
    border-radius: 5px 5px 5px 5px;
}



#btn-menu-mobile{
    width: 30px;
    height: 30px;
}

.tabla-agregar-articulo th{
      padding-right: 16px;      
}

.tabla-agregar-articulo tr{
    padding: 3rem 1rem 1rem 0rem;
}

#agregar,#actualizar{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: green;
    color: white;
    padding: 5px 5px 19px 5px;
    text-align: center;
}

#respuesta{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

input{
    border: 1px solid green;
    border-radius: 5px;
    height: 20px;
}

@media screen and (max-device-width:830px){

        table {
            width:100%;
            font-size: 25px;
        }
        td, th{
            border:none;
            padding: 0px;
        }
         tr{
            display:grid;
            grid-template-columns: 1fr 1fr;     
            padding:1em;
            margin-bottom: -1em;
            margin-left: 1.01em;                                       
        }
        thead{
                 display:none;
        }
    }